<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @search.ticker %>
</p>

<p>
  <strong>Year:</strong>
  <%= @search.year %>
</p>

<p>
  <strong>Filing:</strong>
  <%= @search.filing %>
</p>

<p>
  <%= link_to 'Download Link', @down_link %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
